<!doctype html>
<html>
<head>
  <title>MadLib Generator</title>
</head>
<body>

<h1>Select Your Madness</h1>

<form action="/madlib">
    <label>Name your enemy:</label>
    <input type="text" name="person">
    <br>

    <label>Select a color:</label>
    <select name="color">
        <option value="turquoise">Turquoise</option>
        <option value="amber">Amber</option>
        <option value="ruby">Ruby</option>
        <option value="obsidian">Obsidian</option>
        <option value="cobalt">Cobalt</option>
    </select>
    <br>

    <label>What is your most treasured possession? </label>
    <input type="text" name="noun">
    <br>

    <label>Select an adjective:</label>
    <input type="text" name="adjective">
    <br>

<input type="submit">

</body>
</html>
