<!doctype html>
<html>
<head>
  <title>MadLib Generator</title>
</head>
<body>

<h1>Select Your Madness</h1>

<form action="/madlib">
    <label>Name your enemy:</label>
    <input type="text" name="person">
    <br>

    <label>Select a color:</label>
    <input type="text" name="color">
    <br>

    <label>What is your most treasured possession? </label>
    <input type="text" name="noun">
    <br>

    <label>Select an adjective:</label>
    <input type="text" name="adjective">
    <br>
    
<input type="submit">

</body>
</html>
