<!doctype html>
<html>
<head>
  <title>{{Name}}'s Madlib</title>
</head>
<body>

<h1>Enjoy Your Madness</h1>

    <p> I'm sorry, {{Name}}. I regret to inform you that yesterday, {{person}} 
        happened upon your {{noun}} while they were wandering about your 
        neighborhood. Recognizing the distinct {{color}} glow of your aura 
        clinging to the object, they immediately identified it as yours as 
        smashed it to pieces. </p>

    <p> How {{adjective}}! </p>

</body>
</html>
